# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.vs/landing-page-valorian/FileContentIndex/17ffd9d3-f742-44cc-af43-3a2604093c3b.vsidx
/.vs/landing-page-valorian/FileContentIndex/4d94e743-78f8-4cde-8096-975f2a3a7169.vsidx
/.vs/landing-page-valorian/FileContentIndex/6a7d1e4b-5801-47cb-ab96-501f1b404162.vsidx
/.vs/landing-page-valorian/FileContentIndex/2cdb0f8d-bb66-4572-bf45-03440cd92439.vsidx
